DB_POSTGRES_IMAGE_NAME=postgres:18.4-alpine
DB_POSTGRES_USER=postgres-user
DB_POSTGRES_PASSWORD=ultra-secrect-password
DB_POSTGRES_DB=url-shortener
DB_POSTGRES_PORT=5432

DB_POSTGRES_USER_TEST=postgres-user
DB_POSTGRES_PASSWORD_TEST=ultra-secrect-password
DB_POSTGRES_DB_TEST=url-shortener
DB_POSTGRES_PORT_TEST=5432

DATABASE_URL="postgresql://${DB_POSTGRES_USER}:${DB_POSTGRES_PASSWORD}@localhost:${DB_POSTGRES_PORT}/${DB_POSTGRES_DB}"

DATABASE_URL_TEST="postgresql://${DB_POSTGRES_USER_TEST}:${DB_POSTGRES_PASSWORD_TEST}@localhost:${DB_POSTGRES_PORT_TEST}/${DB_POSTGRES_DB_TEST}"

NODE_ENV=dev
BASE_URL=http://localhost:3000
APP_PORT=3000
HASH_STRONG_NUMBER=7
HASH_PASSWORD=10
JWT_SECRET="Ultr@$trong$3cret"
JWT_EXPIRES_IN=2d
