DB_POSTGRES_IMAGE_NAME=postgres:15.2-alpine
DB_POSTGRES_USER=postgres-user
DB_POSTGRES_PASSWORD=ultra-secrect-password
DB_POSTGRES_DB=url-shortener
DB_POSTGRES_PORT=5432

DATABASE_URL="postgresql://${DB_POSTGRES_USER}:${DB_POSTGRES_PASSWORD}@localhost:${DB_POSTGRES_PORT}/${DB_POSTGRES_DB}"

BASE_URL=http://localhost:3000
APP_PORT=3000
HASH_STRONG_NUMBER=7
